dredom-xml-schema/src/main/resources/GuildMembership.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dredom/guild" version="1.0">

  <xs:complexType name="guildMembership">
    <xs:annotation>
      <xs:documentation><![CDATA[Membership in the Guild.

(author): andre]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
